[Unit]
Description=DFaaSAgent
After=haproxy.service

[Service]
Environment="OPENFAAS_PASSWORD=$(cat /var/lib/faasd/secrets/basic-auth-password)"
ExecStart=/agent/dfaasagent \
    --debug \
    --colors \
    --listen /ip4/0.0.0.0/tcp/6000 \
    --mdns-interval 30s \
    --recalc-period 1m \
    --hatemplate /agent/haproxycfg.tmpl \
    --haconfig /etc/haproxy/haproxy.cfg \
    --haconfig-update-command "systemctl restart haproxy.service" \
    --openfaas-pass ${OPENFAAS_PASSWORD}
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target