# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# VIM temporary files.
*.swp

# Ignore dfaasagent binary.
dfaasagent/dfaasagent

# Ignore temporary files.
dfaasagent/haproxy.cfg
dfaasagent/prvkey.dat

# Ignore custom Ansible inventory files.
**/inventory.yaml


# Custom ignores
__pycache__
venv
.idea
.DS_Store
vegeta-results
emulator/containernet
emulator/openflow
framework/outputs/**
!framework/outputs/**/.gitkeep
simulation/outputs/**
!simulation/outputs/**/.gitkeep
