[Unit]
Description=cAdvisor
After=faasd.service

[Service]
ExecStart=/opt/faasd/cadvisor --port=10000 --enable_metrics=cpu,memory
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
