[Unit]
Description=Prometheus node-exporter
After=faasd.service

[Service]
ExecStart=/opt/faasd/node_exporter
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
