[Unit]
Description=DFaaS Forecaster
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/forecaster/pyenv/bin/python3 /forecaster/main.py

[Install]
WantedBy=multi-user.target
