# HAProxy configuration file updated on {{.Now}}

{{/* #################### MAIN SECTION #################### */ -}}

global
    stats socket /run/haproxy/admin.sock mode 666 level admin
    log stdout local0

defaults
    mode http

    log global
    option httplog

    timeout connect 5000
    timeout client 50000
    timeout server 50000

{{/* #################### STICK-TABLES #################### */ -}}

{{range $funcName, $func := .Functions -}}
{{/* Stick-Table for specific function invocations:
    - not denied
    - from users only
    - only one row, for all clients
The size is set to 10, but setting it to 1 should be already enough. */ -}}
backend st_users_func_{{$funcName}}
    stick-table type integer size 10 expire {{$.StrRecalc}} store http_req_cnt,http_req_rate(1s)
{{/* Stick-Table for specific function invocations:
    - not denied
    - to local OpenFaaS instance only
    - only one row, for all clients
The size is set to 10, but setting it t!bgo 1 should be already enough. */ -}}
backend st_local_func_{{$funcName}}
    stick-table type integer size 10 expire {{$.StrRecalc}} store http_req_cnt,http_req_rate(1s)

{{/* [NEW] Stick-Table for counting request from others agents:
    - One table for each tuple (node, function).
    - Key is destination port (80).
    - Counting request num and rate.
    - RecalTime for expiring why LimitIn are updated every "RecalPeriod" time.
    - Count number of requests and check rate for periods of 1 sec.
*/ -}}
{{range $nodeID, $_ := $func.LimitsIn -}}
backend st_other_node_{{$funcName}}_{{$nodeID}}
    stick-table type integer size 10 expire {{$.StrRecalc}} store http_req_cnt,http_req_rate(1s)
{{end}}

{{end}}

{{/* #################### FRONTEND #################### */ -}}

frontend fe_main
    bind *:80

    {{/* Enable statistics web page */ -}}
    stats enable
    stats auth admin:admin
    stats uri /haproxy?stats

    {{/* Path ACLs */ -}}
    acl is_path_root path /
    acl is_path_healthz path /healthz
    acl is_path_haproxy path_beg /haproxy
    acl is_path_system_funcs path /system/functions
    acl is_path_function path_beg /function/

    {{/* Deny requests which are not directed to a function or / (root) or the
    stats page (note: the root path is needed for health checks by
    other nodes) or to /healthz */ -}}
    http-request deny unless is_path_root or is_path_healthz or is_path_haproxy or is_path_system_funcs or is_path_function

    {{/* Capture some request headers in log */ -}}
    http-request capture req.hdr(Host) len 50
    http-request capture req.hdr(DFaaS-Node-ID) len 50

    {{/* ACL check for DFaaS-Node-ID header with a variable, and capture that
    variable so its value will be visible in the requests log */ -}}
    http-request set-var(req.hdrcnt_nodeid) hdr_cnt(DFaaS-Node-ID)
    acl has_nodeid_hdr var(req.hdrcnt_nodeid),add(0) gt 0 {{- /* The ",add(0)" is needed here, for some reason (maybe haproxy bug? like int/str conversion or something... if you remove it there will be problems!!!) */}}
    http-request capture str(hdrID:),concat(,req.hdrcnt_nodeid,) len 10 {{- /* e.g. "hdrID:5" */}}

    {{/* ACLs is_func_XXX */ -}}
    {{range $funcName, $_ := .Functions -}}
    acl is_func_{{$funcName}} path_beg /function/{{$funcName}}
    {{end}}

    {{/* ########## IF THE REQUEST COMES FROM ANOTHER DFAAS NODE (has_nodeid_hdr) ########## */ -}}

    {{/* Deny request if rate limit exceeded */ -}}
    {{range $funcName, $func := .Functions -}}
    {{- /* # acl is_denied_rate_func_{{$funcName}} src,table_http_req_rate(st_src_func_{{$funcName}}) ge MAP_HERE {{mul $func.Limit $.SecsRecalc}} # i.e. {{$func.Limit}} req/s*/}}
    {{- /* # http-request deny deny_status 429 if is_func_{{$funcName}} is_denied_rate_func_{{$funcName}} {{- /* Conditions are ANDed */}}
    {{end}}

    {{/* ########## IF THE REQUEST COMES FROM A USER (!has_nodeid_hdr) ########## */ -}}

    {{/* If the invocation rate (across all clients) is greater than the total
    func req/s limit, we should send the request to be_others_func_XXX */ -}}
    {{range $funcName, $func := .Functions -}}
    {{/* Define ACL (using a variable) and capture that variable */ -}}
    http-request set-var(req.rate_local_func_{{$funcName}}) dst_port,table_http_req_rate(st_local_func_{{$funcName}})
    acl local_capacity_exceeded_func_{{$funcName}} var(req.rate_local_func_{{$funcName}}),add(0) ge {{$func.Limit}}  {{- /* The ",add(0)" needed also here (see above for explanation) */}}
    http-request capture str({{$funcName}}:),concat(,req.rate_local_func_{{$funcName}},) len 20 {{- /* e.g. "figlet:5" */}}
    {{end}}

    {{/* ########## TRACKING WITH STICK TABLES ########## */ -}}

    {{/* Track invocations by-function for users only
    (this works because dst_port is 80 for every possible request) */ -}}
    {{range $funcName, $_ := .Functions -}}
    http-request track-sc1 dst_port table st_users_func_{{$funcName}} if is_func_{{$funcName}} !has_nodeid_hdr {{- /* Using Sticky-Counter #1 */}}
    {{end}}

    {{/* [NEW] ########### ACLs FOR CHECKING IF A NODE IS KNOWN ######### */ -}}
    {{/* Multiple conditions in the same line are joined together with an AND
        instead named ACLs named multiple times are joined with OR.
            - acl is_node_{{$nodeID}} check that the http request came from {nodeID} node. 
    */ -}}
    {{if not $.Nodes}}
    acl is_hdr_nodeID_known always_false
    {{end}}
    {{range $nodeID, $_ := $.Nodes}}
    acl is_hdr_nodeID_known req.hdr(DFaaS-Node-ID) -m str {{$nodeID}} {{/* Conditions with same name, called multiple times are joined with OR */}}
    acl is_node_{{$nodeID}} req.hdr(DFaaS-Node-ID) -m str {{$nodeID}}
    {{end}}

    {{/* [NEW] ########## ACLs FOR LIMIT-IN CONTROL ##########*/ -}}
    {{/* If the rate of request from each other node for each function is greater than LimitIn 
        calculated by the algorithm, deny further requests */ -}}
    {{range $funcName, $func := .Functions -}}
    {{/* Define ACL (using a variable) and capture that variable */ -}}
    {{range $nodeID, $limitIn := $func.LimitsIn -}}
    http-request set-var(req.rate_other_node_{{$funcName}}_{{$nodeID}}) dst_port,table_http_req_rate(st_other_node_{{$funcName}}_{{$nodeID}})
    acl limitIn_saturated_{{$funcName}}_{{$nodeID}} var(req.rate_other_node_{{$funcName}}_{{$nodeID}}),add(0) ge {{$limitIn}}  {{- /* The ",add(0)" needed also here (see above for explanation) */}}
    http-request capture str({{$funcName}}_{{$nodeID}}:),concat(,req.rate_other_node_{{$funcName}}_{{$nodeID}},) len 100 {{- /* e.g. "figlet_nodeID:5" */}}
    {{end}}
    {{end}}

    {{/* [NEW] If a hdr DFaaS-Node-ID is present AND is not known deny request. 
        * Returned message is 403 "Forbidden": The access to the resource is forbidden by this client.
            * A different status code is useful for testing purpose; can be changed.
    */ -}}
    http-request deny deny_status 403 if has_nodeid_hdr !is_hdr_nodeID_known
    
    {{/* [NEW] Deny requests that exceed limitIn */ -}}
    {{/*
    {{range $funcName, $func := .Functions -}}
    {{range $nodeID, $limitIn := $func.LimitsIn -}}
    http-request deny deny_status 429 if has_nodeid_hdr limitIn_saturated_{{$funcName}}_{{$nodeID}}
    {{end}}
    {{end}}
    */ -}}

    {{/* ########## BACKEND SELECTION ########## */ -}}

    use_backend be_ok if is_path_root
    use_backend be_healthz if is_path_healthz
    use_backend be_system_funcs if is_path_system_funcs
    {{range $funcName, $func := .Functions -}}

    {{/* [NEW] Select backend for request that exeeds limitsIn */ -}}
    {{range $nodeID, $limitIn := $func.LimitsIn -}}
    use_backend be_limitInExceeds if is_func_{{$funcName}} is_node_{{$nodeID}} has_nodeid_hdr limitIn_saturated_{{$funcName}}_{{$nodeID}} {{- /* Conditions are ANDed */}} 
    {{end}}

    use_backend be_myself if is_func_{{$funcName}} has_nodeid_hdr {{- /* Conditions are ANDed */}}
    use_backend be_myself if is_func_{{$funcName}} !local_capacity_exceeded_func_{{$funcName}} {{- /* Conditions are ANDed */}}
    use_backend be_others_func_{{$funcName}} if is_func_{{$funcName}} !has_nodeid_hdr local_capacity_exceeded_func_{{$funcName}} {{- /* Conditions are ANDed */}}

    {{end}}

{{/* #################### BACKEND FOR SIMPLE 200 RESPONSES #################### */ -}}

backend be_ok
    http-request return status 200 content-type "text/plain" string "This is a DFaaS node. Call a function with /function/<funcname>\n"

{{/* #################### BACKEND FOR HEALTHCHECK #################### */ -}}

backend be_healthz
    {{/* Perform HTTP health checks */ -}}
    option httpchk GET /healthz
    server healthz {{.HttpServerHost}}:{{.HttpServerPort}} check

{{/* #################### BACKEND FOR MANAGING OPENFAAS FUNCTIONS #################### */ -}}

backend be_system_funcs
    {{/* Perform HTTP health checks */ -}}
    option httpchk GET /
    {{/* Enable HTTP connection closing on the server side. This provides the lowest latency
    on the client side (slow network) and the fastest session reuse on the server side
    to save server resources */ -}}
    option http-server-close
    server system_funcs {{.OpenFaaSHost}}:{{.OpenFaaSPort}} check

{{/* #################### BACKEND FOR SELF OPENFAAS INSTANCE #################### */ -}}

backend be_myself
    {{/* Perform HTTP health checks (with the OPTIONS method by default) */ -}}
    option httpchk GET /
    {{/* Enable insertion of the X-Forwarded-For header to requests sent to servers */ -}}
    option forwardfor
    {{/* Enable HTTP connection closing on the server side. This provides the lowest latency
    on the client side (slow network) and the fastest session reuse on the server side
    to save server resources */ -}}
    option http-server-close

    {{/* Add DFaaS-Node-ID header (in any case) */ -}}
    http-request add-header DFaaS-Node-ID {{.MyNodeID}}

    {{/* [NEW] Replicated ACLs for visibility. */}}
    acl has_nodeid_hdr var(req.hdrcnt_nodeid),add(0) gt 0 {{- /* The ",add(0)" is needed here, for some reason (maybe haproxy bug? like int/str conversion or something... if you remove it there will be problems!!!) */}}
    {{range $nodeID, $_ := $.Nodes}}
    acl is_node_{{$nodeID}} req.hdr(DFaaS-Node-ID) -m str {{$nodeID}}
    {{end}}

    {{range $funcName, $func := .Functions -}}
    acl is_func_{{$funcName}} path_beg /function/{{$funcName}}
    {{/* Track all clients (this works because dst_port is 80 for every possible request) */ -}}
    http-request track-sc2 dst_port table st_local_func_{{$funcName}} if is_func_{{$funcName}} {{- /* Using Sticky-Counter #2 */}}
    
    {{/* [NEW] ########### TRACKING WITH STICK TABLES FWD MESSAGED ########## */ -}}
    {{/* How it works?
            - If a message has a header "DFaaSNode..." it comes from another DFaaS node, indeed the message
              has been forwarded.
            - If a message has been forwarded from another node, increment row in a specific stick table.
        If the above condition are satisfied increment specific table.
    */ -}}
    {{range $nodeID, $_ := $func.LimitsIn -}}
    http-request track-sc0 dst_port table st_other_node_{{$funcName}}_{{$nodeID}} if is_func_{{$funcName}} has_nodeid_hdr is_node_{{$nodeID}} {{/*is_hdr_nodeID_known*/ -}} {{- /* Using Sticky-Counter #0 */}}
    {{end}}
    
    {{end}}

    {{/* Add X-Server header to response to know which server served the request */ -}}
    http-response set-header X-Server %s

    server {{$.HAProxyHost}} {{.OpenFaaSHost}}:{{.OpenFaaSPort}} check

{{/* #################### BACKEND FOR OTHER NODES' HAPROXIES #################### */ -}}

{{range $funcName, $func := .Functions -}}
backend be_others_func_{{$funcName}}
    {{/* Enable load-balancing using custom weights */ -}}
    balance roundrobin

    {{/* Perform HTTP health checks (with the OPTIONS method by default) */ -}}
    option httpchk GET /
    {{/* Enable insertion of the X-Forwarded-For header to requests sent to servers */ -}}
    option forwardfor
    {{/* Enable HTTP connection closing on the server side. This provides the lowest latency
    on the client side (slow network) and the fastest session reuse on the server side
    to save server resources */ -}}
    option http-server-close

    {{/* Add DFaaS-Node-ID header (in any case) */ -}}
    http-request add-header DFaaS-Node-ID {{$.MyNodeID}}

    {{/* Add X-Server header to response to know which server served the request */ -}}
    http-response set-header X-Server %s

    {{range $nodeID, $weight := $func.Weights -}}
    {{if (gt $weight 0) -}}
    server {{(index $.Nodes $nodeID).HAProxyHost}} {{(index $.Nodes $nodeID).HAProxyHost}}:{{(index $.Nodes $nodeID).HAProxyPort}} weight {{$weight}} check
    {{end -}}
    {{end}}
{{end}}

{{/* [NEW] #################### BACKEND FOR DENY EXCEEDING LIMIT IN REQUESTS #################### */ -}}
{{/* Note: It could be divided in alla specific be for nodes and functions and returns a specific error message */ -}}
{{/* 503 (Service Unavailable) status code can be used.
    At the moment 429 has been used for test purpose. */}}
backend be_limitInExceeds
    http-request deny deny_status 429
