# HAProxy configuration file updated by DFaaS Agent on {{.Now}}
# DFaaS Agent running with "RL Agent" strategy in phase {{.Phase}}.

# See k8s/charts/values-haproxy.yaml for more information about global,
# userlist, defaults, and prometheus frontend sections.
global
  master-worker
  stats socket ipv4@*:6666 mode 660 level admin expose-fd listeners
  log stdout format raw local0

userlist dataplaneapi
  user admin insecure-password admin

defaults
  mode http
  option httplog
  option forwardfor
  option http-server-close
  log global
  timeout client 60s
  timeout connect 60s
  timeout server 60s

frontend prometheus
  bind :8405
  http-request use-service prometheus-exporter
  no log

# The configuration is generated and changed by the DFaaS agent from this point
# on.

frontend main
    bind :80

    # Use a stick table with only 1 global value, we will track the latest
    # DFaaS-K6-Stage header value for incoming requests.
    #
    # We use type string for the key ("global") and gpt0 integer field to write
    # the stage.
    #
    # Reminder: the name of this stick table is the section's name: "main".
    #
    # Ignore requests without the header.
    #
    # Warning: this stick table is used only for debugging purposes.
    stick-table type string size 1 expire 5s store gpt(1)

    # Map stick counter 0 (sc0) with the key "global". Reminder: it is mandatory
    # to first select the key and then write the value.
    http-request track-sc0 str(global)

    # ACL to check if DFaaS-K6-Stage header exists and it is numeric.
    acl has_stage_hdr req.hdr(DFaaS-K6-Stage) -m reg ^[0-9]+$

    # ACLs to detect incoming forwarded requests.
    acl has_node_hdr req.hdr(DFaaS-Node-ID) -m found

    # Store latest stage to gpt0 as integer for the stick counter sc0 (we know
    # it is mapped to the "global" key). Note we add +1 to distinguish the case
    # where the header has not been found (default value is 0).
    #
    # Note: forwarded requests from other nodes are ignored!
    http-request sc-set-gpt(0,0) req.hdr(DFaaS-K6-Stage),add(1) if has_stage_hdr !has_node_hdr

    # Track for the current transaction (request-response) the DFaaS-Node-ID
    # header (if exists), it will be added in the response for incoming
    # forwarded requests.
    http-request set-var(txn.dfaas_node_id) req.hdr(DFaaS-Node-ID)

    {{ if eq .Phase "rlAgentPhase" -}}
    # Generate a random integer number in [0, 99), will be used to check if the
    # incoming request will be rejected by the "reject" action of the strategy.
    # Note that a single request can be mapped to one single function.
    http-request set-var(txn.rand) rand(100)
    {{ end -}}

    {{/* Create ACLs and backend selection for each function. */}}
    {{range $funcName, $_ := .Functions -}}
        # Match function path (always under /function/).
        acl is_{{$funcName}} path_beg /function/{{$funcName}}

        {{ if eq $.Phase "rlAgentPhase" -}}
        # Get the reject action (a probability over 0-100) from the current
        # function.
        acl reject_{{$funcName}} var(txn.rand) -m int lt {{ index (index $.Weights $funcName) "reject" }}

        # Apply the action reject, only for non forwarded requests!
        http-request deny deny_status 503 if is_{{$funcName}} !has_node_hdr reject_{{$funcName}}
        {{ end -}}

        # Use the forwarded backend if the request originates from another DFaaS
        # node, otherwise, use the local backend. This distinction is required to
        # correctly compute statistics for both client and forwarded requests.
        use_backend function_{{$funcName}}_forwarded if is_{{$funcName}} has_node_hdr
        use_backend function_{{$funcName}} if is_{{$funcName}}
    {{end}}

{{range $funcName, $timeout := .Functions -}}
backend function_{{$funcName}}
    http-response set-header DFaaS-Node-ID {{$.DFaaSNodeID}}

    {{- if eq $.Phase "allLocalPhase" -}}
        # With "allLocalPhase" all incoming requests are processed locally.
        server openfaas-local {{$.OpenFaaSHost}}:{{$.OpenFaaSPort}}
    {{- else -}}
        # With "rlAgentPhase" incoming requests are load balanced locally and with
        # remote DFaaS nodes. Direct rejections happens in the frontend.
        {{- range $action, $weight := (index $.Weights $funcName) -}}
            {{- if eq $action "local" -}}
                server openfaas-local {{$.OpenFaaSHost}}:{{$.OpenFaaSPort}} weight {{$weight}}
            {{- else if eq $action "reject" -}}
                {{- /* Skip reject action (done in frontend). */ -}}
            {{- else -}}
                {{- /* Action here is the forwarding node with format "node_ID". */ -}}
                {{ $neighborHost := (index (index $.Neighbors $action) "host") }}
                {{ $neighborPort := (index (index $.Neighbors $action) "port") }}
                server {{$action}} {{$neighborHost}}:{{$neighborPort}} weight {{$weight}}
            {{- end -}}
        {{- end -}}
    {{- end -}}

    {{- if $timeout}}
    timeout connect {{$timeout}}ms
    timeout server {{$timeout}}ms
    {{- end}}

backend function_{{$funcName}}_forwarded
    # This is a forwarded request: we preserve original node ID and add where it
    # was forwarded to.
    http-response set-header DFaaS-Node-ID %[var(txn.dfaas_node_id)]
    http-response add-header DFaaS-Forwarded-To {{$.DFaaSNodeID}}
    server openfaas-local {{$.OpenFaaSHost}}:{{$.OpenFaaSPort}}
    {{- if $timeout}}
    timeout connect {{$timeout}}ms
    timeout server {{$timeout}}ms
    {{- end}}
{{end}}
