[Unit]
Description=Boostrap node
After=docker.service

[Service]
ExecStart=/usr/bin/bash -c /bootstrap.sh
RemainAfterExit=true
Type=oneshot

[Install]
WantedBy=multi-user.target