[Unit]
Description=DFaaSAgent
After=haproxy.service

[Service]
PassEnvironment=AGENT_IPV4
ExecStart=/agent/dfaasagent \
    --debug \
    --colors \
    --listen /ip4/${AGENT_IPV4}/tcp/6000 \
    --prvkey /agent/prvkey.dat \
    --bootstrap-nodes ${BOOTSTRAP_NODES} \
    --recalc-period 1m \
    --haproxy-host ${AGENT_IPV4} \
    --hatemplate /agent/haproxycfg.tmpl \
    --haconfig /etc/haproxy/haproxy.cfg \
    --haconfig-update-command "/usr/bin/systemctl restart haproxy.service"
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target