[Unit]
Description=DFaaSAgent
After=haproxy.service

[Service]
EnvironmentFile=/agent/dfaasagent.env
ExecStart=/agent/dfaasagent
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target