# This is a utility NodePort service used to expose the Prometheus Web UI
# outside of the Kubernetes cluster to port 30909.
apiVersion: v1
kind: Service
metadata:
  name: prometheus-external
spec:
  type: NodePort
  selector:
    app.kubernetes.io/component: server
    app.kubernetes.io/instance: prometheus
    app.kubernetes.io/name: prometheus
  ports:
    - name: http
      port: 9090
      targetPort: 9090
      nodePort: 30909
