[Unit]
Description=cAdvisor
After=faasd.service

[Service]
ExecStart=/faasd/cadvisor --port=10000
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target