# Install only prometheus-node-exporter and alertmanager services.
prometheus-pushgateway:
  enabled: false
kube-state-metrics:
  enabled: false

server:
  global:
    # Change default (1 minute) to 5 seconds.
    scrape_interval: 5s
    evaluation_interval: 5s
    scrape_timeout: 4s

  # Default metrics retention time is 15 days, but it is too large for the DFaaS
  # Agent's needs.
  retention: "3d"

  # Make sure the service is named "prometheus", as this DNS name is hardcoded
  # in the OpenFaaS CE Gateway and cannot be changed.
  fullnameOverride: "prometheus"

  service:
    # This additional port is required because port 9090 is hardcoded in the
    # OpenFaaS CE Gateway. By default there is port 80.
    additionalPorts:
      - name: openfaas
        port: 9090

serverFiles:
  alerting_rules.yml:
    # Copied from official OpenFaaS Helm chart.
    # See: https://github.com/openfaas/faas-netes/blob/87eca610c2c0cd4ed7b7aa37df716a6f98fb2851/chart/openfaas/templates/prometheus-cfg.yaml#L66
    #
    # I have removed the filter {code="200"} from the query.
    groups:
      - name: openfaas
        rules:
        - alert: APIHighInvocationRate
          expr: sum(rate(gateway_function_invocation_total[10s])) BY (function_name) > 5
          for: 5s
          labels:
            service: gateway
            severity: major
          annotations:
            description: High invocation total on "{{ "{{" }}$labels.function_name{{ "}}" }}"
            summary: High invocation total on "{{ "{{" }}$labels.function_name{{ "}}" }}"

# Prometheus's Alertmanager configuration.
alertmanager:
  enabled: true

  config:
    # The whole config is copied from the official OpenFaaS Helm chart.
    # See: https://github.com/openfaas/faas-netes/blob/87eca610c2c0cd4ed7b7aa37df716a6f98fb2851/chart/openfaas/templates/alertmanager-cfg.yaml#L17-L49
    route:
      group_by: ['alertname', 'cluster', 'service']
      group_wait: 5s
      group_interval: 10s
      repeat_interval: 30s
      receiver: scale-up
      routes:
      - match:
          service: gateway
          receiver: scale-up
          severity: major

    inhibit_rules:
      - source_match:
          severity: 'critical'
        target_match:
          severity: 'warning'
        equal: ['alertname', 'cluster', 'service']

    receivers:
      - name: "scale-up"
        webhook_configs:
          - url: http://gateway.default.svc.cluster.local:8080/system/alert
            send_resolved: true
