alertmanager:
  create: false

prometheus:
  create: false

# Disable authentication for the OpenFaaS Gateway, as we are building a
# prototype. This simplifies the interaction with the gateway.
basic_auth: false
generateBasicAuth: false

# We disable asynchronous function invocation in OpenFaaS. This feature is
# fairly limited in the Community Edition, and doing so avoids the creation and
# instantiation of services (such as NATS) that we would not use anyway.
#
# More info here: https://docs.openfaas.com/reference/async/
async: false

functionNamespace: default

gatewayExternal:
  annotations:
    # Let Prometheus to automatically scrape OpenFaaS metrics.
    # See: https://github.com/prometheus-community/helm-charts/tree/main/charts/prometheus#scraping-pod-metrics-via-annotations
    prometheus.io/scrape: "true"
    prometheus.io/path: /metrics
    prometheus.io/port: "8081"

gateway:
  # Increase timeout of liveness and readiness probes to avoid premature crash
  # of the gateway.
  readinessProbe:
    periodSeconds: 10
    timeoutSeconds: 10
    successThreshold: 1
    failureThreshold: 3

  livenessProbe:
    periodSeconds: 30
    timeoutSeconds: 30
    successThreshold: 1
    failureThreshold: 3

functions:
  # Disable readiness and liveness probes for function pods, since we limit
  # concurrency with `max_inflight` env var directly in the functions.
  httpProbe: false
