alertmanager:
  create: false

prometheus:
  create: false

# We disable asynchronous function invocation in OpenFaaS. This feature is
# fairly limited in the Community Edition, and doing so avoids the creation and
# instantiation of services (such as NATS) that we would not use anyway.
#
# More info here: https://docs.openfaas.com/reference/async/
async: false

functionNamespace: default

gatewayExternal:
  annotations:
    # Let Prometheus to automatically scrape OpenFaaS metrics.
    # See: https://github.com/prometheus-community/helm-charts/tree/main/charts/prometheus#scraping-pod-metrics-via-annotations
    prometheus.io/scrape: "true"
    prometheus.io/path: /metrics
    prometheus.io/port: "8081"
